{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Projets</h2>
      {{range .projects}}
      <div class="col-sm-4">
        <div class="highlight-project">
          <img src="http://dummyimage.com/100x50/454545/fff.png" alt="Generic placeholder image">
          <h2>{{.Title}}</h2>
          <p>{{.Description}}</p>
          <div class="progress-money">{{.Pledged}} €</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{procent .Amount .Pledged}}" aria-valuemin="0" aria-valuemax="100" style="width: {{procent .Amount .Pledged}}%;">
              <span class="sr-only">{{procent .Amount .Pledged}}% Complete</span>
            </div>
          </div>
          <div class="progress-procent">{{procent .Amount .Pledged}}%</div>
          <div class="progress-date">{{dayLeft  .ExpirationDate}}  jours</div>
          <div class="clear"></div>
          <p><a class="btn btn-default" href="{{url "Project.Index" .Id}}" role="button">View details »</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      {{end}}
      <div class="row">
        
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
