{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>{{.project.Title}}</h2>
      <div class="author">par {{.owner.FirstName}} {{.owner.LastName}}</div>
      <div class="illustration">
          <img src="http://dummyimage.com/100x50/454545/fff.png" alt="Generic placeholder image">
      </div>
      <div class="description">
      {{md .project.Description}}
      </div>
    </div>
    <div class="col-md-3">
    <h3 class="contributor">{{.nbPledge}}</h3>
    <span class="subtitle">Contributeurs</span>
    <h3 class="pledged">{{.pledged}}€</h3>
    <span>promis</span>
    <h3 class="pledged">{{.project.Amount}}€</h3>
    <span>objectif</span>
    <h3 class="days">{{dayLeft  .project.ExpirationDate}}</h3>
    <span>jours restants</span>
    <h2>Offres</h2>
    {{range .offers}}
      <form class="form-signin" role="form" action="{{url "Project.Reward"}}" method="POST">
        <h3 class="offeramount">{{.Price}}</h3>
        <p>{{md .Description}}</p>
        <input type="hidden" name="offerId" value="{{.Id}}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Participer</button>
      </form>
    {{end}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
